.coloredCircle {
  height: 16px;
  width: 16px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: grey;
  margin: 6px;
  display: inline-block;
}

.coloredCircle.blue {
  background-color: blue;
}

.coloredCircle.orange {
  background-color: orange;
}

.coloredCircle.red {
  background-color: red;
}

.coloredCircle.teal {
  background-color: teal;
}

.moreActions {
  position: absolute;
  border: 1px solid #aaa;
  width: 140px;
  text-align: left;
  background-color: #fff;
  border-radius: 5px;
  padding: 6px;
  .coloredCircles {
    cursor: pointer;
  }
  li.moveOptions {
    text-align: left;
    list-style: none;
    padding: 4px 10px;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}